name: Rust test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo doc
      - run: cargo doc --all-features
      - run: cargo test --no-fail-fast
      - run: cargo test --no-fail-fast --no-default-features
      - run: cargo test --no-fail-fast --all-features
      - run: cargo clippy -- -D warnings
      - run: rm -v Cargo.lock
      - run: cargo test --no-fail-fast
      - run: cargo test --no-fail-fast --no-default-features
      - run: cargo test --no-fail-fast --all-features
      - run: cargo clippy -- -D warnings
